@model OOAD___Projektat___G3.Models.Artikal

@{
    ViewData["Title"] = "Create";
    
}
<style>
body {
  background-image: url('https://i.ibb.co/89SYSkV/Background-Rot.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}
</style>
<h4 style="margin-top:2vw; font-size:2vw">Unesite podatke artikla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-vlasnikKorisnik="@ViewBag.korisnikID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="naziv" class="control-label"> Naziv</label>
                <input asp-for="naziv" class="form-control" />
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="cijena" class="control-label"> Cijena</label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="kolicina" class="control-label"> Kolicina</label>
                <input asp-for="kolicina" class="form-control" />
                <span asp-validation-for="kolicina" class="text-danger"></span>
            </div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="opis" class="control-label"> Opis</label>
                <input asp-for="opis" class="form-control"/>
                <span asp-validation-for="opis" class="text-danger"></span>
            </div>
                <div class="form-group" style="margin-top:0.5vw">
                <input type="submit" value="Dodaj artikal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<form action="ImageUpload" style="margin-top:5vw">
    <div >
          <input type="file" id="imageUpload" name="imageUpload" accept="image/*"> 
    </div>

   <div class="form-group" style="margin-top:0.5vw">
  <input type="submit" value="Dodaj ili promjeni sliku" onclick="ImageUploadFileChooser" class="btn btn-primary" />
  </div>
</form>

<button value="Fotografiši sliku" class="btn btn-primary" style="margin-top:1vw""
>
</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<head>
<style>
    .button {
        position:relative; 
        right:-58.594vw; 
        bottom:-3.906vw;
  border: white solid  0.156vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 0.313vw 0.156vw;
  cursor: pointer;
   border-radius: 1.953vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.547vw 2.344vw 0.547vw 2.344vw;
  font-family: 'Times New Roman', Times, serif;
}



.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #0023ff99;} /* Orange */
</style>
</head>

    <body>
<button class="button button2" onclick="location.href='@Url.Action("BackToMain","Artikal", new{vlasnikKorisnik = @ViewBag.korisnikID})'">Vrati se na glavnu stranicu</button>
</body>

<img src="~/Images/1200px-SNice.svg.png" style="position:absolute; right:3vw; top:6.5vw; border:black solid 0.5vw ; width:30%; height:40%; background-color:white;">