@{
    ViewData["Title"] = "IzborRacunaRegistracija";
}
<html>

    <body>
<style>
body {
  background-image: url('https://i.ibb.co/TkcSN7t/SL-090119-22970-03.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}
</style>

<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:1.563vw -3.125vw" />
<h1 style="text-align:center; font-family:'Times New Roman', Times, serif;
font-size:3vw; margin-top:3vw">
    Izaberite tip računa
</h1>

        
    <img src="https://i.ibb.co/f4TWVb3/1024px-User-avatar-svg.png" 
    alt="Smiley face"  style="margin-top:3vw; width:15%; margin-left:30%; display: inline-block;" data-inline="true">
    <img src="https://i.ibb.co/3YkyxGh/home-registered-office.png" 
    alt="Smiley face"  style="margin-top:3vw;width:15%; margin-left:10%; display: inline-block;"  data-inline="true">

   <button id="b1"  style="margin-top:3vw; background-color:transparent; font-weight:bold; padding: 0.547vw 0.781vw 0.547vw 0.781vw; width:15%;font-size:1.5vw; margin-left:30%; border: black solid 0.2vw;  border-radius: 1.953vw;  display: inline-block;" onclick="location.href='@Url.Action("Create","RegistrovaniKorisnik")'">Račun za vlastite upotrebe</button>
   <button id="b2"  style="margin-top:3vw; background-color:transparent; font-weight:bold; padding: 0.547vw 0.781vw 0.547vw 0.781vw;width:15%; font-size:1.5vw;margin-left:10%; border: black solid 0.2vw;   border-radius: 1.953vw;display: inline-block;" onclick="location.href='@Url.Action("Create","KorisnikKompanija")'">Račun za kompanije</button>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
