@{
    ViewData["Title"] = "IzborRacunaRegistracija";
}
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-PIJACA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ourCSS.css" />
</head>

<body>    
    <div class="container">
        <main role="main" class="pb-3">
           <img id="logo" src="https://i.ibb.co/Hh5QK9W/logo.png?fbclid=IwAR0Veh8jAZcaZeuMyyze2wzsvlSGeVcGUHyoTZ0Lgyx7ehRhPt2pU34jPYo"</img>
           <h1 id="naslov">Izaberite tip računa</h1>
           <button id="b1" onclick="location.href='@Url.Action("PrijavaKorisnika","RegistriranjeKorisnika")'">Račun za vlastite upotrebe</button>
            <button id="b2" onclick="location.href='@Url.Action("PrijavaKompanije","RegistriranjeKompanija")'">Račun za kompanije</button>
            <img id="kompanija" src="https://i.ibb.co/3YkyxGh/home-registered-office.png?fbclid=IwAR2T1HI_BMWEGEvlGBtbrF91xNtySbR-1i9PvCt4UfgDdvhqastX3rVsXVw"</img>
            <img id="korisnik" src="https://i.ibb.co/f4TWVb3/1024px-User-avatar-svg.png?fbclid=IwAR11HEG7JGI3J6cpZ1za7PnMBddp0GlmNo_LvrKxRyhdehbwWQygw5ErKEg"</img>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>
