@model OOAD___Projektat___G3.Models.Artikal
@{
    ViewData["Title"] = "Kupi";
}
<style>
body {
  background-image: url('https://i.ibb.co/89SYSkV/Background-Rot.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:1.563vw -3.125vw" />

<h4 style="margin: 1.5vw 1.5vw 0vw 0vw ">
Unesite vaše podatke
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <label class="control-label" >Ime</label><br />
        <input class="form-control"  /><br />
        <label class="control-label"  >Prezime</label><br />
        <input class="form-control"   /><br /> 
        <label class="control-label" >Broj kreditne kartice</label><br />
        <input class="form-control"  /><br />
        <label class="control-label"  >Adresa</label><br />
        <input class="form-control" /> <br />
        </div>
</div>
<button onclick="location.href='@Url.Action("KupiIObrisi","Search", new{id = Model.id})'"  style=" font-size:2vw; color:black; width:15%;  
border-radius: 1.953vw; background-color: #ffffff00; border: black solid 0.2vw; font-weight: bold;">Potvrdi</button>
