@model OOAD___Projektat___G3.Models.Artikal

@{
    ViewData["Title"] = "Prikaz";
}
<style>
body {
  background-image: url('https://i.ibb.co/Z1h18yK/25386.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:1.563vw -3.125vw" />

<h4 style="margin: 1.5vw 1.5vw 0vw 0vw ">
Podaci artikla
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Kupi" asp-route-id="@Model.id" asp-route-idKors="@ViewBag.idKorisnika">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="naziv" class="control-label">Naziv artikla</label>
                <input asp-for="naziv " class="form-control" readonly/>
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:0.242vw;color:black; font-size:1.172vw">
                <label asp-for="cijena" class="control-label">Cijena</label>
                <input asp-for="cijena" class="form-control" readonly/>
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:0.242vw;color:black; font-size:1.172vw">
                <label asp-for="kolicina" class="control-label">Kolicina</label>
                <input asp-for="kolicina" class="form-control" readonly />
                <span asp-validation-for="kolicina" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:0.242vw;color:black; font-size:1.172vw">
                <label asp-for="opis" class="control-label">Opis</label>
                <input asp-for="opis" class="form-control" readonly/>
                <span asp-validation-for="opis" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top:2vw">
                    @if(ViewBag.idKorisnika != -1)
                    {
                        <input type="submit" value="KUPI" class="btn btn-primary" >
                    }
                    
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<img src=@Model.slika
style="position:absolute; right:3vw; top:6.5vw; border:black solid 0.5vw ; width:30%; height:40%; background-color:white;">

  
<style>
    .button {
  border: black solid  0.256vw;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 0.313vw 0.156vw;
  cursor: pointer;
   border-radius: 1.953vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.547vw 2.344vw 0.547vw 2.344vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #ffffffb3;} /* Orange */
</style>


<button class="button button2" style = "position: absolute; bottom:2vw; right:5vw;"
    onclick="location.href='@Url.Action("Search","Search", new{idKorisnika = @ViewBag.idKorisnika})'">Vrati se nazad</button>
