@model OOAD___Projektat___G3.Models.RegistrovaniKorisnik

@{
    ViewData["Title"] = "Edit";
}

<style>
body {
  background-image: url('https://i.ibb.co/89SYSkV/Background-Rot.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:1.563vw -3.125vw" />

<h4 style="margin: 1.5vw 1.5vw 0vw 0vw ">
Vaši podaci
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="ime" class="control-label"> Ime</label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="prezime" class="control-label"> Prezime</label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="korisnickoIme" class="control-label"> Korisničko ime:</label>
                <input asp-for="korisnickoIme" class="form-control" />
                <span asp-validation-for="korisnickoIme" class="text-danger"></span>
            </div>
              <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="email" class="control-label"> E-Mail</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="password" class="control-label"> Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
             <div class="form-group" style="margin-top:1.875vw">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<head>
<style>
    .button {
        position:relative; 
        right:-58.594vw; 
        bottom:-3.906vw;
  border: white solid  0.156vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 0.313vw 0.156vw;
  cursor: pointer;
   border-radius: 1.953vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.547vw 2.344vw 0.547vw 2.344vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #ffffff00;} /* Orange */
</style>
</head>

    <body>
<button class="button button2" onclick="location.href='@Url.Action("MainUser","GlavnaStrana")'">Vrati se na glavnu stranicu</button>
</body>