#naslov {
    z-index: 100;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 40;
    left: 700px;
    top: 300px;
}

#b1 {
    z-index: 100;
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 20;
    left: 600px;
    top: 600px;
    background-color: transparent;
}

#b2 {
    font-weight: bold;
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 20;
    left: 1000px;
    top: 600px;
    background-color: transparent;
}

#logo {
    z-index: 100;
    position: absolute;
    width: 300px;
    height: auto;
    top: 20px;
    left: 20px;
}

#korisnik {
    z-index: 100;
    position: absolute;
    width: 200px;
    height: auto;
    left: 600px;
    top: 400px;
}

#kompanija {
    z-index: 100;
    position: absolute;
    width: 180px;
    height: auto;
    left: 1000px;
    top: 400px;
}



body {
    background-image: url('https://i.ibb.co/TkcSN7t/SL-090119-22970-03.jpg?fbclid=IwAR0OYxVDShw-4B_0ouXc3R-risq9JX7VP_4mR4BQsezFNj7y3xg7O1QU2ng');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

div {
    text-align: center;
}