#naslov {
    z-index: 100;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 45;
    left: 45vw;
    top: 15vw;
}
#tekst {
    z-index: 100;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 20;
    left: 40vw;
    top: 18vw;
}

#b1 {
    z-index: 100;
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 25;
    left: 15vw;
    top: 35vw;
    background-color: transparent;
}

#form {
    z-index: 100;
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 25;
    left: 15vw;
    top: 25vw;
   
}
#logo {
    z-index: 100;
    position: absolute;
    width: 12vw;
    height: auto;
    top: 1.042vw;
    left: 1.042vw;
}




body {
    background-image: url('https://i.ibb.co/TkcSN7t/SL-090119-22970-03.jpg?fbclid=IwAR0OYxVDShw-4B_0ouXc3R-risq9JX7VP_4mR4BQsezFNj7y3xg7O1QU2ng');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3.125vw;
}

