@model OOAD___Projektat___G3.Models.RegistrovaniKorisnik

@{
    ViewData["Title"] = "PrijavaKorisnika";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-PIJACA - Prijava korisnika</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Prijava.css" />
</head>

<body>    
    <div class="container">
        <main role="main" class="pb-3">
           <img id="logo" src="https://i.ibb.co/Hh5QK9W/logo.png?fbclid=IwAR0Veh8jAZcaZeuMyyze2wzsvlSGeVcGUHyoTZ0Lgyx7ehRhPt2pU34jPYo"</img>
           <h1 id="naslov">Prijava</h1>
           <p id="tekst" >Unesite svoje korisničko ime i lozinku</p>
    <div class="row" style="margin-top: 20vw">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
             <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="korisnickoIme" class="control-label"> Korisničko ime:</label>
                <input asp-for="korisnickoIme" class="form-control" />
                <span asp-validation-for="korisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group"  style="margin-top:0.242vw; color:black; font-size:1.172vw">
                <label asp-for="password" class="control-label"> Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
             <div class="form-group" style="margin-top:1.875vw">
                <input href="@Url.Action("LoginRegisterUser","Logiranje")" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
             </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>




</html>
