@{
    ViewData["Title"] = "PrijavaKompanije";
}
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-PIJACA - Prijava korisnika</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Prijava.css" />
</head>

<body>    
    <div class="container">
        <main role="main" class="pb-3">
           <img id="logo" src="https://i.ibb.co/Hh5QK9W/logo.png?fbclid=IwAR0Veh8jAZcaZeuMyyze2wzsvlSGeVcGUHyoTZ0Lgyx7ehRhPt2pU34jPYo"</img>
           <h1 id="naslov">Prijava</h1>
           <p id="tekst" >Unesite e-mail kompanije i lozinku</p>
           <form id="form"> 
  <label for="Ime">E-mail</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="lname">Lozinka: </label><br>
  <input type="text" id="lozinka" name="lozinka">
</form>
           <button id="b1">Login</button>
           <
             </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>




</html>
