@model OOAD___Projektat___G3.Models.KorisnikKompanija
@{
    ViewData["Title"] = "MainCompany";
}

<style>
body {
  background-image: url('https://i.ibb.co/Z1h18yK/25386.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:1.563vw -3.125vw" />


<img src="https://i.ibb.co/f4TWVb3/1024px-User-avatar-svg.png" 
    alt="Smiley face" width="150" style="vertical-align:top; top:0.391vw; right:2vw; position:absolute;"  data-inline="true"/>


<style>
p.introduction {
  font-size:1.563vw;
}

p.introduction span {
  text-align: center;
  border: black solid 0.156vw;
  color: black;
  background-color:#ffffff00;
  border-radius: 2.344vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.391vw 0.691vw 0.391vw 0.691vw;
  font-family: 'Times New Roman', Times, serif;
}
</style>
<p style="text-align: center; position:absolute; top:11vw ;right:0.391vw;" class="introduction"><span>Dobro došli na e-Pijacu!</span></p>

<head>
<style>
    .button {
  border: black solid 0.156vw;
  margin: 7.813vw 0px 0px 0px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  width: 17vw;
  cursor: pointer;
   border-radius: 20.391vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.234vw 0.591vw 0.234vw 0.591vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #ffffff00;} /* tRA */
</style>
</head>


<body>
<button class="button button1" style="position:absolute; left:3.125vw" onclick="location.href='@Url.Action("MojiArtikli","Artikal", new{korisnikID = Model.id})'">Moji artikli</button>
</body>


<head>
<style>
  .btnttt {
  border: black solid 0.156vw;
  margin: 1.563vw 0px 0px 0px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  width: 17vw;
  cursor: pointer;
   border-radius: 20.391vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
   padding: 0.234vw 0.591vw 0.234vw 0.591vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #ffffff00;} /* tRA */
</style>
</head>

<body>
<button class="btnttt button1" style="position:absolute; left:3.125vw; top:18vw;" onclick="location.href='@Url.Action("Create","Artikal", new{korisnikID = Model.id})'">Objavi artikal</button>
</body>

<body>
<button class="btnttt button1" style="position:absolute; left:3.125vw; top:22.5vw; " onclick="location.href='@Url.Action("Edit","KorisnikKompanija",new{id = Model.id})'">Moj račun</button>
</body>

  <body>
<button class="btnttt button1" style="position:absolute; left:3.125vw; top:27vw;" onclick="location.href='@Url.Action("Start","Start")'">Odjava</button>
</body>