
@{
    ViewData["Title"] = "StartView";
}
<h1>StartView</h1>

app.UseMvc(routes =>
        {
            routes.MapRoute(
                name: "default",
                template: "{controller=Home}/{action=Index}/{id?}");
        });
